<h1>Event List</h1>

<table class="table">
<% @events.each do |event| %>

  <tr>
    <td>
    <%= event.name %>
    </td>
    <td>
    <%= link_to "Show", event_path(event), :class => "btn btn-primary" %>

    <%= link_to "Attendees", event_attendees_path(event), :class => "btn btn-primary" %>

    <%= link_to "Get XML", event_path(event, :format => :xml), :class => "btn btn-default" %>

    <%= link_to "GET JSON", event_path(event, :format => :json), :class => "btn btn-default" %>

    <%= link_to "Edit", edit_event_path(event), :class => "btn btn-default" %>

    <%= link_to "Delete", event_path(event), :method => :delete, :class => "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "New Event", new_event_path, :class => "btn btn-primary" %>

<%= paginate @events %>

<%= link_to "Atom feed", events_path(:format => :atom), :class => "btn btn-primary" %>